 h1 {
     color: lightblue;
     background-color: #8398ce;

 }

 h2 {
     color: lightblue;
     background-color: #8398ce;

 }

h3 {
    color: lightblue;
    background-color: #8398ce;
}

 a:link, a:visited {
    color: #5d81dd;
}

a:hover {
    text-decoration: none;
}
   
div {
    background-color: hwb(219 63% 5%);
}

p {
    color: hwb(219 63% 5%);
    background-color: rgb(188, 198, 239);
}